<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../../../favicon.ico">
      <title>Forget password</title>
      <!-- Bootstrap core CSS -->
      <link href="https://mdbootstrap.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="https://mdbootstrap.github.io/bootstrap-material-design/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
   </head>
   <body>
      <form action="{% url 'auth_url' %}" method="POST">
        
         <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Simp product search and filter</h1>
         </div>
         
         <div class="input-group mb-3">
            <input type="text" name='shop' class="form-control" id="storeName" placeholder="your store name"  aria-describedby="basic-addon2" required >
           
            <div class="input-group-append">
               <span class="input-group-text" id="basic-addon2">.myshopify.com</span>
            </div>
         </div>
        


         <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset link</button>
         <div style="text-align:center">
            <p>OR</p>
            <p><a href="signin.html">Sing In</a></p>
         </div>
      </form>
   </body>
</html>