<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://mdbootstrap.github.io/bootstrap-material-design/favicon.ico">
      <title>SPSF Sign In</title>
      <!-- Bootstrap core CSS -->
      <link href="https://mdbootstrap.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="https://mdbootstrap.github.io/bootstrap-material-design/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
   </head>
   <body>
      <form class="form-signin" action="{% url 'signin'%}" method="POST">
         <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Singn In</h1>
         </div>
         <div class="form-label-group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
         </div>
         <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
         </div>
         <div class="container px-4">
            <div style="text-center">
               <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
               <label class="form-check-label" for="defaultCheck1">
               Remember Me
               </label>
            </div>
         </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div style="text-align:center">
            <p>  <a href="forget_password.html">Forget Password?</a></p>
           
         </div>

         <p class="mt-5 mb-3 text-muted text-center">&copy; 2021-2022</p>
      </form>
   </body>
</html>